<div class="institution-body">
    <img src="https://images7.memedroid.com/images/UPLOADED796/5f68fa79802ae.jpeg" alt="">

    <h1>Criar instituição</h1>
    <form [formGroup]="form" name="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" placeholder="" name="name" formControlName="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="" name="email" formControlName="email" required />
        </div>
        <div class="form-group">
          <label for="address">Endereço</label>
          <input type="text" class="form-control" placeholder="" name="address" formControlName="address" required />
        </div>
        <div class="form-group">
          <label for="url">Site da Instituição</label>
          <input type="text" class="form-control" placeholder="" name="url" formControlName="url" required />
        </div>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" placeholder="" name="cep" formControlName="cep" required />
        </div>
        <div class="form-group">
          <label for="phone_number">Número de Telefone</label>
          <input type="text" class="form-control" placeholder="" name="phone_number" formControlName="phone_number" required />
        </div>
        <div class="form-group">
          <label for="image">Imagem da Instituição</label>
          <input type="text" class="form-control" placeholder="" name="image" formControlName="image" required />
        </div>
        <div class="form-group">
          <label for="gender">Gênero</label>
          <select formControlName="institution_type" name="types">
            <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Salvar Instituição
          </button>
        </div>
      </form>
</div>