@import "../../../../shared/variables";

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    padding-top: 3em;
    justify-content: center;
}

.p-fluid, form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-mask{
    margin-top: 0.7em;
}
.addressField {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.address {
    width: 30em;
}

.number {
    padding-left: 2em;
    width: 7em;
}

.institution-body .form-group .btn {
    margin-top: 1em;
    background-color: $primary-color; 
    border: 0.15em solid black;
    border-radius: 5em;
    height: 2.5em;
    width: 15em;
    color: black;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
}