<header id="navbar">
  <nav class="navbar-container container">
    <a href="/" class="home-link">
      <div class="our-name">Donat</div>  
      <div class="navbar-name"><img class="navbar-logo"src="./assets/images/donation.png" alt="logo"></div>
    </a>
    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar-menu" aria-labelledby="navbar-toggle">
      <ul class="navbar-links">
        <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/institutions">Instituições</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/login">Login</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/register">Registrar</a></li>
      </ul>
    </div>
  </nav>
</header>

