<header id="navbar">
  <nav class="navbar-container container">
    <a href="/" class="home-link">
      <div class="navbar-name"><img class="navbar-logo"src="./assets/images/donation.png" alt="logo"></div>
      <div class="our-name">onat</div>  
    </a>
    <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div id="navbar-menu" aria-labelledby="navbar-toggle">
      <ul class="navbar-links">
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/home" routerLinkActive="active">
            Home
          </a>
        </li>
        <li><a>|</a></li>
        <li class="navbar-item" *ngIf="isAdmin">
          <a class="navbar-link" routerLink="/admin">
            Admin Area
          </a>
        </li>
        <li><a>|</a></li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/about" routerLinkActive="active">
            About
          </a>
        </li>
        <li><a>|</a></li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/instituicoes" routerLinkActive="active">
            Instituições
          </a>
        </li>
        <li><a>|</a></li>
        <div class="navbar-link" *ngIf="handleLoggedIn() == false">
          <li class="navbar-item">
            <a class="navbar-link" routerLink="/login" routerLinkActive="active">
              Login
            </a>
          </li>
          <li><a>|</a></li>
          <li class="navbar-item">
            <a class="navbar-link" routerLink="/register" routerLinkActive="active">
            Registrar
            </a>
          </li>
        </div>
        <div class="navbar-link" *ngIf="handleLoggedIn() == true">
          <app-user-dropdown></app-user-dropdown>
        </div>
      </ul>
    </div>
  </nav>
</header>