<div class="card">
  <div class="grid">
      <div class="col-5 flex align-items-center justify-content-center login">
          <h1>Já é cadastrado?</h1>
          <div class="p-fluid">           
              <form [formGroup]="form" class="p-field" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()">
                <div class="form-group field">
                  <label for="email">Email</label>
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                      <input pInputText id="email" type="text" class="form-control" placeholder="Insira seu email" name="email" formControlName="email" required />
                  </div>
                </div>
                <div class="form-group field">
                  <label for="password">Senha</label>
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                      <input pInputText id="password" type="password" class="form-control" placeholder="Insira sua senha" name="password" formControlName="password" required minlength="6" />
                  </div>
                </div>
                <div class="form-group">
                  <button pButton class="btn p-button-info">Entrar</button>
                </div>
                <div class="form-group">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="isLoginFailed"
                  >
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>      
           </div>
      </div>
      <div class="col-2">
          <p-divider layout="vertical">
              <b>OU</b>
          </p-divider>
      </div>
      <div class="col-5 flex align-items-center justify-content-center">
          <p-button (onClick)="handleSignUp()" label="Registre-se" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
      </div>
  </div>
</div>
