@import "../../../../shared/variables";

.card {
    margin-top: 3.8em;
    margin-bottom: 5em;
}

.login {
    flex-direction: column;
    
    h1{
        font-size: 1.8rem;    
        margin-bottom: 2em;
    }
}
.card .form-group .btn {
    margin-top: 1em;
    border: 0.15em solid black;
    height: 2.5em;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
}
