<!-- <div class="col-md-12"> -->
    <!-- <div class="card card-container">
      <img
        id="profile-img"
        src="https://p.favim.com/orig/2018/10/19/anime-girl-icons-anime-girl-cute-Favim.com-6448415.png"
        class="profile-img-card"
      />
      <form [formGroup]="form" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" placeholder="Insira seu email" name="email" formControlName="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Insira sua senha" name="password" formControlName="password" required minlength="6" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div> -->

<div class="card">
  <div class="grid">
      <div class="col-5 flex align-items-center justify-content-center">
          <div class="p-fluid">           
              <form [formGroup]="form" class="p-field" *ngIf="!isLoggedIn" name="form" (ngSubmit)="onSubmit()">
                <div class="form-group field">
                  <label for="email">Email</label>
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                      <input pInputText id="email" type="text" class="form-control" placeholder="Insira seu email" name="email" formControlName="email" required />
                  </div>
                </div>
                <div class="form-group field">
                  <label for="password">Senha</label>
                  <div class="p-inputgroup">
                      <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                      <input pInputText id="password" type="password" class="form-control" placeholder="Insira sua senha" name="password" formControlName="password" required minlength="6" />
                  </div>
                </div>
                <div class="form-group">
                  <p-button styleClass="dark-panel" label="Entrar"></p-button>
                </div>
                <div class="form-group">
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="isLoginFailed"
                  >
                    Login failed: {{ errorMessage }}
                  </div>
                </div>
              </form>      
           </div>
      </div>
      <div class="col-2">
          <p-divider layout="vertical">
              <b>OU</b>
          </p-divider>
      </div>
      <div class="col-5 flex align-items-center justify-content-center">
          <p-button (onClick)="handleSignUp()" label="Registre-se" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
      </div>
  </div>
</div>

<!-- <div class="card">
    <h5></h5>
    <div class="grid">
        <div class="col-5 flex align-items-center justify-content-center">
            <div class="p-fluid">
              <div class="field">
                    <label for="">Email</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input pInputText id="username" type="text" />
                    </div>
              </div>
                
                <div class="field">
                    <label for="password">Password</label>
                    <input pInputText id="password" type="password" />
                </div>
                <p-button label="Login"></p-button>
                </div>
        </div>
        <div class="col-2">
            <p-divider layout="vertical">
                <b>OR</b>
            </p-divider>
        </div>
        <div class="col-5 flex align-items-center justify-content-center">
            <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
        </div>
    </div>
</div> -->
