<div>
   <body>
        <p class="title">Pesquise a instituição desejada a seguir: </p>
        <div class="search">
            <input type="text" #box (keyup.enter)="handleInput(box.value)"> 
            <button (click)="handleInput(box.value)">Pesquisar</button>
        </div>
        <div class="filters">
            <h2>Filtros</h2>
            <div class="dropdown">
                <button (click)="handleDropdown()" class="dropbtn">Tipo <i class="fa fa-caret-down"></i></button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">- Igrejas</a>
                  <a href="#">- Ongs</a>
                </div>
              </div> 
        </div>
        <div class="row" *ngIf="filteredInstitution else loading">
            <div *ngFor="let x of filteredInstitution">
                <div (click)="handleInstitution(x._id)" class="card black">
                    <img class="image" src={{x.image}} alt="" />
                    <h2>{{x.name}}</h2>
                    <p>{{x.address}}</p>
                    <p>{{x.cep}}</p>
                </div>
            </div>
        </div>
        
        <ng-template #loading>
            <div class="row">
                <div *ngFor="let y of allInstitutions">
                    <div (click)="handleInstitution(y._id)" class="card black">
                        <img class="image" src={{y.image}} alt="" />
                        <h2>{{y.name}}</h2>
                        <p>{{y.address}}</p>
                        <p>{{y.cep}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
  </body>
</div>
