body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input{
  width: 25em;
  height: 2em;
  border-radius: 12px;
  margin-right: 2.3em;
  border: 0.2em solid black;
}

.search button{
  width: 8.5em;
  height: 2em;
  background-color:aquamarine;
  font-weight: bold;
  font-size: 1em;
  border-radius: 12px;
  border: 0.16em solid black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #7f8086;
  font-size: 16px;
  margin: 0.5em;
}

.image {
  float: center;
  max-width: 10em;
  max-height: 10em;
}

.black {
  border-left: 3px solid black;
}