
@import "../../../../shared/variables";

.container {
    padding-top: 2em;
    padding-left: 8em;
    padding-bottom: 5em;
}

.card {
    padding: 2em;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
  
}

.nossa-causa {
    align-self: center;
    background-color: aliceblue;
    border: 0.6em solid $primary-color;
    border-radius: 1em;
    border-style: double;
    padding: 0.4em;
    h2{
        font-size: 2rem;
    }
}

.content{
    flex-direction: column;

    &__text{
        text-indent: 2rem;
        line-height: 1.6rem;
    }
}
