<div class="container w-100 rounded" id="fundo">
    <div class="card">
        <div class="grid">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h3 class="titulo">O Donat</h3>
                <img src="assets/images/donation.png" alt="" height="200px" width="300px">
            </div>
            <div class="col-2">
                <p-divider layout="vertical">
                </p-divider>
            </div>
            <div class="col-5 flex align-items-center justify-content-center content">
                <p class="text-justify content__text">
                    O Donat é um projeto feito por quatro malucos de Santos(SP), apaixonados por tecnologia, e totalmente independentes.
                </p>
                <p class="text-justify content__text">
                    Somos estudantes do último semestre de Análise e Desenvolvimento de Sistemas,
                    e para nosso projeto de conclusão de curso decidimos usar nossas experiências tanto profissionais quanto acadêmicas,
                    para montar esse projeto que se converteu, inicialmente em uma plataforma de intermédio para doações. 
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center content">
                <p class="text-justify content__text">
                    Com o agravamento da pandemia ocasionada pelo coronavírus, as comunidades carentes que já eram numerosas crescem cada vez mais no mundo, especialmente nos países emergentes, como o Brasil.
                </p>
                <p class="text-justify content__text">
                    Visto esse momento frágil, a fim de amenizar essa desigualdade social, 
                    desenvolvemos uma plataforma para unir doadores e instituições beneficentes como ONG’s e igrejas, 
                    com o propósito de tornar mais fácil para o doador encontrar uma instituição próxima à sua residência e com uma causa que ele se identifique. 
                </p> 
                <p class="text-justify content__text">
                    Acreditamos que agindo como um denominador comum capaz de intermediar comunicações com facilidade, podemos unir doador e donatário.
                </p>
            </div>

            <div class="col-2">
                <p-divider layout="vertical"></p-divider>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center nossa-causa">
                <h2>Nossa Causa</h2>
                <!-- <img src="assets/images/donation.png" alt="" height="200px" width="300px"> -->
            </div>

        </div>
    </div>
</div>