<div class="container w-100 rounded" id="fundo">

    <div class="card">

        <div class="grid">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h3 class="titulo">O Donat</h3>
                <img src="assets/images/donation.png" alt="" height="200px" width="300px">
            </div>
            <div class="col-2">
                <p-divider layout="vertical">
                </p-divider>
            </div>
            <div class="col-5 flex align-items-center justify-content-center">
                <p class="text-justify">Quatro esquisitos tentando fazer um site para doações.</p>
            </div>
        </div>
    </div>

    <div class="card">

        <div class="grid">
            <div class="col-5 flex align-items-center justify-content-center">
                <p class="text-justify">
                    Com o agravamento da pandemia ocasionada pelo coronavírus, as comunidades carentes que já eram numerosas crescem cada vez mais no mundo, especialmente nos países emergentes, como o Brasil;<br>
                    Visto esse momento frágil, a fim de amenizar essa desigualdade social, 
                    desenvolvemos uma plataforma para unir doadores e instituições beneficentes como ONG’s e igrejas, 
                    com o propósito de tornar mais fácil para o doador encontrar uma instituição próxima à sua residência e com uma causa que ele se identifique. 
                    Acreditamos que fazendo agindo como um denominador comum capaz de intermediar comunicações com facilidade, podemos unir doador e donatário.
                </p>
            </div>

            <div class="col-2">
                <p-divider layout="vertical">
                </p-divider>
            </div>

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <h3 class="titulo">Nossa Causa</h3>
                <img src="assets/images/donation.png" alt="" height="200px" width="300px">
            </div>

        </div>
    </div>

</div>