<div class="institutionBody" *ngIf="institution">
    <img src="{{institution.image}}" alt="">
    <div class="title">
        <h1>{{institution.name}}</h1>
    </div>
    <div class="info">    
        <p>{{institution.url}}</p>
        <p>{{institution.address}}</p>
        <p>{{institution.cep}}</p>
        <p>{{institution.phone_number}}</p>
        <p>{{institution.email}}</p>
    </div>
</div>

<div class="map">
    <app-map
        [lat]="-23.94263"
        [lon]="-46.32631"
        [zoom]="16"
    >
    ></app-map>
</div>


