<div class="institutionBody" *ngIf="institution">
    <img src="{{institution.image}}" alt="">
    <div class="title">
        <h1>{{institution.name}}</h1>
    </div>
    <div class="info">    
        <p>{{institution.url}}</p>
        <p>{{institution.address}}</p>
        <p>{{institution.cep}}</p>
        <p>{{institution.phone_number}}</p>
        <p>{{institution.email}}</p>
    </div>

    <div class="map">
        <app-map
            [lat]="institution.latitude"
            [lon]="institution.longitude"
            [zoom]="16"
        >
        ></app-map>
    </div>
</div>




