.imgInstitution img {
    max-width: 25em;
    max-height: 25em;
    border: 0.2em solid black;
    border-radius: 1em;
}

.titulo {
    text-align: center;
}

.info {
    font-size: 1.05em;
    text-align: center;
    line-height: 1.1em;
}

.map {
    margin: 0.2em auto; 
    margin-bottom: 4em;
    margin-top: 1em;
    width: 800px;
}

.informacoes {
    display: flex;
}


a {
    // color: bla;
    text-decoration: none;
}

p-button{ 
    padding-left: 0.5em;
}