<div class="profile">
  <div class="profile-title">
    <h1>Configurações da Conta</h1>
  </div>
  <input type="file" class="file-input"
       accept="image/*"
       (change)="onFileSelected($event)" #fileUpload>
  <div class="profile-body">
  <div class="profile-content">
    <div class="profile-icon">
      <div *ngIf="file">
        <img [src]="imgURL" width=130px style="margin:0;" alt="">
      </div>
      <div *ngIf="!file">
        <img [src]="currentIcon" width=130px style="margin:0;">
      </div>
        <button color="primary" class="upload-btn"
          (click)="fileUpload.click()">
          <a class="btn" style="color:black;font-weight:600">Mudar Imagem</a>
        </button>
    </div>
    
    <div class="profile-data">
      <form [formGroup]="form" *ngIf="isLoggedIn" name="form">
        <div class="form-group">
          <label for="username">Nome de Usuário</label>
          <input type="text" [placeholder]="user['username']" class="form-control" name="username" formControlName="username" minlength="3" maxlength="20"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" placeholder="{{user['email']}}" class="form-control" formControlName="email" name="email" email/>
        </div>
        <div class="form-group">
          <label for="address">Endereço</label>
          <input type="text" placeholder="{{user['address']}}" class="form-control" name="address" formControlName="address" minlength="6"/>
        </div>
        <div class="form-group">
          <label for="phone_number">Número de Telefone</label>
          <input type="text" placeholder="{{user['phone_number']}}" class="form-control" name="phone_number" formControlName="phone_number" minlength="6"/>
        </div>
      </form>
    </div>
  </div>

  <div class="profile-btn">
    <button (click)="onCancel()" 
            class="btn btn-cancel">
            Voltar
    </button>
    <button (click)="onSubmit()" 
            class="btn btn-success">
            Salvar
    </button>
  </div>
  </div>
</div>


