<footer class="footer">
  <!-- Inicio do Footer-->
<div class="flex" id="bgfooter">
    <div class="about-us">
      <h4 class="titulo">Sobre Nós</h4>
      <p class="descricao">Somos um grupo de desenvolvedores de Santos, SP, que tem o objetivo de ajudar outras pessoas por meio desta plataforma.</p>
      <p class="descricao">Não temos quaisquer parcela de lucro pelo site, bem como não temos ligação com qualquer orgão governamental ou não-governamental.</p>
    </div>

    <p-divider layout="vertical"></p-divider>

    <div class="contact">
      <div class="contact__item">
        <h5 class="contact__item__titulo">Endereço<i class="pi pi-home" style="font-size: 1.5rem"></i></h5>
        <p class="contact__item__descricao">R. Cidade de Santos, 212 - Ponta da Praia, Santos - SP, 11013-002</p>
      </div>

      <div class="contact__item">
        <h5 class="contact__item__titulo">Telefone<i class="pi pi-phone" style="font-size: 1.5rem"></i></h5>
        <p class="contact__item__descricao">(13) 3221-1255</p>
      </div>

      <div class="contact__item">
        <h5 class="contact__item__titulo">E-mail<i class="pi pi-envelope" style="font-size: 1.5rem"></i></h5>
        <a href="mailto:donat@donat.com" class="contact__item__descricao">donat@donat.com</a>
      </div>

    </div>

    <p-divider layout="vertical"></p-divider>

    <div>
      <h4 class="titulo">Seja um Parceiro</h4>
      <p class="descricaoSejaParceiro">Quer que sua instituição esteja presente em nosso site?
        <br>Clique neste botão, preencha o formulário e espere nosso retorno =)</p>
      <div class="flex justify-content-center">
        <p-button class="footer-button" icon="pi pi-send" label="Contate-nos!" routerLink='/instituicoes/registrar'></p-button>
      </div>
    </div>

  </div>
  <!-- Final do Footer-->

  <!-- Começo Direitos Reservados-->
  <div class="row text-center cop">
    <div>
      <p>2022 &copy; Copyright Donat Inc. </p>
    </div>
  </div>
  <!--Final Direitos Reservados-->
</footer>
