<head>
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" />
</head>

<div id="footer" class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">Sobre Nós</h2>
      <ul>
        <li>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente assumenda maxime porro ut unde, fuga earum beatae, et itaque inventore fugit consequatur quo delectus. Ut sed labore expedita sapiente omnis!
        </li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <li><a href="https://twitter.com/oednaldopereira" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://github.com/luantorrex" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://youtu.be/HOAKXWTtIuE" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2021 Copyright Donat Inc.</li>
    </ul>
  </section>
</footer>


