.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #3db0f7;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
footer{
  background-color: #63c1fc;
}
#bgfooter{
  background-color: #87CEFA;
  justify-content: space-evenly;
}

.modalbg {
  
  background-color: #87CEFA;
}

.descricaoSejaParceiro{
  text-align: center;
}

.titulo, .telefone{
  display: flex;
  justify-content: center;
  align-items: center;
}

.descricao {
  padding-left: 25px;
  text-align: center;
}
.descricaoSejaParceiro {
  padding-right: 12px;
}
.pi {
  padding-left: 15px;
}

.footer-button{
  padding-top: 1em;
}

.about-us {
  max-width: 40rem;
}

.contact {

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__titulo {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__descricao{
      margin-top: -1.3em;
      text-align: center;
    }
  }
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: whitesmoke;
}


.cop{
  padding-bottom: 0.2em;
}

.footer { 
  margin-top: 5em;
}