<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="https://64.media.tumblr.com/d0de05292ff55716fe5e04829411663e/tumblr_pf7xynYOGR1t2c4f8o10_250.png"
      class="profile-img-card"
    />
    <form [formGroup]="form" *ngIf="!isSuccessful" name="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nome Completo</label>
        <input type="text" placeholder="Digite seu nome completo" class="form-control" name="username" formControlName="username" required minlength="3" maxlength="20" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Digite seu email" class="form-control" formControlName="email" name="email" required email />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" placeholder="Digite sua senha" class="form-control" name="password" formControlName="password" required minlength="6" />
      </div>
      <div class="form-group">
        <label for="address">Endereço</label>
        <input type="text" placeholder="Digite seu endereço" class="form-control" name="address" formControlName="address" required minlength="6" />
      </div>
      <div class="form-group">
        <label for="phone_number">Número de Telefone</label>
        <input type="text" placeholder="Digite seu número para contato" class="form-control" name="phone_number" formControlName="phone_number" required minlength="6" />
      </div>
      <div class="form-group">
        <label for="gender">Gênero</label>
        <select formControlName="gender" name="gender">
          <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
