@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    h2{
      text-align: center;
    }
    &__carousel {
      &__product-item {
        border: 1px solid var(--surface-d);
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        position: relative;
        &__text {
          z-index: 1;
          position: absolute;
          top: 22.08em;
          color: white;
          background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,1));;
          h4{
            font-size: 1.5rem;
          }
        }
        p-image {
          cursor: pointer;
        }
      }
    }
  }
  &__left {
    text-align: center;
    align-self: center;
  }
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em ;

  .media-body {
    padding-top: 1em;
    text-align: center;
    align-items: flex-end;

    p{
      max-width: 40rem;
    }

    blockquote {
      font-family: 'Oxygen', sans-serif;
      font-size: 1.4rem;
    }

    .div-title{
      font-size: 1.25rem;
      font-weight: bold;
        }

    small{
      font-family: 'Oxygen', sans-serif;
      font-size: 0.9rem;
      display: flex;
      justify-content: flex-end;
      padding-top: inherit;
      font-style: italic;
      font-weight:800;
    }
  }
}

#fundo{
  background-color: #fafafa;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 5em;
  padding-bottom: 3.5em;
}

.card-container{
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-evenly;
}

.infos{
  background-color: #87CEFA;
  padding-right: 0.5em;
  margin-top: 4em;
  border-radius: 2em;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 12px;
}

.institution-card {
  padding-top: 3em;
}

.institution-card h2{
  font-size: 3rem;
}

.join{
  padding-top: 3em;
}