.placeholder {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  margin-top: 2em;
}

.jumbotron {
  background-color: #87CEFA;
}

.card-footer{
  background-color: #f0ffea;
}
#fundo{
  background-color: #fbfbf8;
}

.carousel-item {
  width:1280px;
    height:600px;
    object-fit: fill;
}

.faHandHoldingHeart {
  color: #f65c78;
}

.faAppleWhole {
  color: #fccb8f;
}

.faAddressCard {
  color: #a6f349;
}