<div id="fundo"> 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" 
            
                    src="assets/images/imgcoracao_ccexpress.jpeg"
                    alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="assets/images/imgdoacao.jpg"
                    alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="assets/images/imgcestas.jpg"
                    alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center social-network">
                    <div class="media">
                        <fa-icon [icon]="faHandHoldingHeart" class="faHandHoldingHeart fa-3x"></fa-icon>
                        <div class="media-body">
                            <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center social-network">
                    <div class="media">
                        <fa-icon [icon]="faAppleWhole" class="faAppleWhole fa-3x"></fa-icon>
                        <div class="media-body">
                            <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center social-network">
                    <div class="media">
                        <fa-icon [icon]="faAddressCard" class="faAddressCard fa-3x"></fa-icon>
                        <div class="media-body">
                            <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Nosso Projeto</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src=""
                        width="200px" height="239px" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">O Donat</h5>
                        <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src=""
                        width="200px" height="239px" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ajude o próximo</h5>
                        <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src=""
                        width="200px" height="239px" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Nossa Causa</h5>
                        <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-12 text-center">
                <h3>Intituições</h3>
            </div>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum</h5>
                    <p class="card-text text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block mb-3" routerLink='/account/login'>Seja um apoiador!</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>