<div id="fundo">
    <p-carousel [value]="carouselItems" styleClass="custom-carousel" [numVisible]="2" [numScroll]="1" [circular]="true"
        [autoplayInterval]="8000" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <p-image src="{{product.image}}" alt="Image" width="550" height="350"></p-image>
                    </div>
                    <div>
                        <h4 class="mb-1">{{product.description}}</h4>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <div class="flex infos ">
        <div>
            <i class="pi pi-heart" style="font-size: 2rem"></i>
            <div class="media-body">
                <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit..."</p>
            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div>
            <i class="pi pi-shopping-cart" style="font-size: 2rem"></i>
            <div class="media-body">
                <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit..."</p>
            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div>
            <i class="pi pi-id-card" style="font-size: 2rem"></i>
            <div class="media-body">
                <p class="mt-2 ml-2 text-sm-left">"Neque porro quisquam est qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit..."</p>
            </div>
        </div>
    </div>
    
    <div class="institution-card">
        <div class="row mt-4 mb-4">
            <div class="col-md-12 text-center">
                <h2>Intituições</h2>
            </div>
        </div>
        <div class="flex">
            <div>
                <p-card class="card-test" header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}"
                    styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://aiconica.net/previews/institution-icon-68.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
                        cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Ir para Instituição" icon="pi pi-forward"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div>
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}"
                    styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://aiconica.net/previews/institution-icon-68.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
                        cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Ir para Instituição" icon="pi pi-forward"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <p-divider layout="vertical"></p-divider>
            <div>
                <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}"
                    styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://aiconica.net/previews/institution-icon-68.png">
                    </ng-template>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                        repudiandae numquam deserunt
                        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
                        cupiditate neque quas!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Ir para Instituição" icon="pi pi-forward"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <div class="row mt-5">
            <div class="flex justify-content-center join">
                <p-button icon="pi pi-user-plus" label="Seja um Donatover!" routerLink='/conta/registrar'></p-button>
            </div>
        </div>
    </div>
</div>