<div id="fundo">
    <div class="main-content">
        <div class="main-content__left">
            <h1>Bem-vindos ao Donat.</h1>
            <p>Estamos em construção ;)</p>
            <!-- <img src="https://media.giphy.com/media/aH6g6PuAZ31jG/giphy.gif" alt=""> -->
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="main-content__right">
            <h2>Próximos Eventos Beneficentes</h2>
            <p-carousel class="main-content__right__carousel" [value]="carouselItems" [numVisible]="1" [numScroll]="1" [circular]="true"
                [autoplayInterval]="8000">
                <ng-template let-product pTemplate="item">
                    <div class="main-content__right__carousel__product-item">
                        <p-image (click)="handleCarouselClick(product.link)" src="{{product.image}}" alt="Image" width="798" height="495"></p-image>
                        <div class="main-content__right__carousel__product-item__text">
                            <h4 class="mb-1">{{product.title}}</h4>
                            <p class="main-content__right__carousel__product-item__text__t">{{product.description}}</p>
                            <small>Mais informações no clicando na imagem</small>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    
    <div class="infos ">
        <div class="media-content">
            <div class="media-body">
                <p class="mt-2 ml-2 text-sm-left div-title">É uma instituição e quer estar no site?</p>
                <button pButton pRipple type="button" label="Primary" class="p-button-raised" iconPos="right" icon="pi pi-arrow-circle-right" label="Clique aqui!" routerLink='/instituicoes/registrar'></button>
            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="media-content">
            <div class="media-body ">
                <blockquote>"O importante não é o que se dá, mas o amor com que se dá."</blockquote>
                <small>- Madre Teresa de Calcutá</small>
            </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="media-content">
            <div class="media-body">
                <p class="mt-2 ml-2 text-sm-left div-title">Ajude o nosso projeto a continuar independente: </p>
                <a href="https://www.buymeacoffee.com/capscode" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" height="41" width="174"></a>
            </div>
        </div>
    </div>
    
    <div class="institution-card">
        <div class="row mt-4 mb-4">
            <div class="col-md-12 text-center">
                <h2>Algumas das intituições presentes em nosso site</h2>
            </div>
        </div>
        <div class="card-container" *ngIf="randomInstitutions">
            <div *ngFor="let i of randomInstitutions">
                <p-card [header]="i.name" [style]="{width: '360px'}"
                    styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="https://aiconica.net/previews/institution-icon-68.png">
                    </ng-template>
                    <p>Veja esta instituição em sua página com mais detalhes!</p>
                    <ng-template pTemplate="footer">
                        <p-button label="Ir para Instituição" icon="pi pi-forward" (onClick)="goToInstitution(i.id)"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <div class="row mt-5" *ngIf="!isLoggedIn">
            <div class="flex justify-content-center join">
                <h3>Quer doar por meio de nosso site?</h3>
                <p-button icon="pi pi-user-plus" label="Registre-se!" routerLink='/conta/registrar'></p-button>
            </div>
        </div>
    </div>
</div>