<h1>Instituiçoes pendentes:</h1>
<p-table [value]="items" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Requisição de Instituições para Registro
            <p-button (click)="handleRefreshButton()" icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Avaliar</th>
            <th>Pedido</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.institution_type}}</td>
            <td>
                <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                <p-button (click)="handleAccept(item)" icon="pi pi-check" label="Verificar" styleClass="mr-2"></p-button>
            </td>
            <td>
                <p-dialog header="Mensagem da Instituição" [modal]="true" [(visible)]="display">
                    {{item.request_text}}
                </p-dialog>
                <p-button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Ver mensagem"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Número de pedidos: {{items ? items.length : 0 }}
        </div>
    </ng-template>
</p-table>
<p-toast></p-toast>