<h1>Instituiçoes pendentes:</h1>
<p-table [value]="items" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Items
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Avaliar</th>
            <th>Pedido</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.institution_type}}</td>
            <td><i class='pi pi-check' (click)="handleAccept(item)"></i></td>
            <td>
                <p-dialog [appendTo]="'body'" [(visible)]="displayModal" [modal]="true" width="500" height="450" >
                    <p-header> Title </p-header>
                    <div class="form-group">
                        <label for="approverComment">Comment</label>
                        <textarea class="form-control" id="approverComment" rows="8"></textarea>
                    </div>
                    <p-footer>
                        <button type="button" pButton icon="fa-close" (click)="displayModal=false" label="Cancel"></button>
                    </p-footer>
                </p-dialog>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{items ? items.length : 0 }} items.
        </div>
    </ng-template>
</p-table>


<!-- <h2>GeeksforGeeks</h2>
<h5>PrimeNG ConfirmDialog Component</h5>
<p-confirmDialog [appendTo]="'body'" [style]="{width: '60vw'}"></p-confirmDialog>
<p-button (click)="GetConfirm()" label="Click Here"></p-button> -->